<?xml version="1.0" encoding="utf-8" ?>
<!--
/*
 * Gamuza JSON API - Fast API for magento platform.
 * Copyright (c) 2016 Gamuza Technologies (http://www.gamuza.com.br/)
 * Author: Eneias Ramos de Melo <eneias@gamuza.com.br>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Library General Public
 * License as published by the Free Software Foundation; either
 * version 2 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Library General Public License for more details.
 *
 * You should have received a copy of the GNU Library General Public
 * License along with this library; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin St, Fifth Floor,
 * Boston, MA 02110-1301, USA.
 */

/*
 * See the AUTHORS file for a list of people on the Gamuza Team.
 * See the ChangeLog files for a list of changes.
 * These files are distributed with gamuza_jsonapi-magento at http://github.com/gamuzabrasil/.
 */
-->

<config>
    <modules>
        <Gamuza_JsonApi>
            <version>0.0.1</version>
        </Gamuza_JsonApi>
    </modules>
    <global>
        <helpers>
            <jsonapi>
                <class>Gamuza_JsonApi_Helper</class>
            </jsonapi>
        </helpers>
        <models>
            <jsonapi>
                <class>Gamuza_JsonApi_Model</class>
            </jsonapi>
        </models>
        <resources>
            <jsonapi_setup>
                <setup>
                    <module>Gamuza_JsonApi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jsonapi_setup>
            <jsonapi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </jsonapi_write>
            <jsonapi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </jsonapi_read>
        </resources>
    </global>
    <admin>
        <routers>
            <admin_api>
                <use>admin</use>
                <args>
                    <module>Gamuza_JsonApi</module>
                    <frontName>admin_api</frontName>
                </args>
            </admin_api>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Gamuza_JsonApi>
                    <files>
                        <default>Gamuza_JsonApi.csv</default>
                    </files>
                </Gamuza_JsonApi>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <json_api>
                <use>standard</use>
                <args>
                    <module>Gamuza_JsonApi</module>
                    <frontName>json_api</frontName>
                </args>
            </json_api>
        </routers>
    </frontend>
    <default>
        <api>
            <config>
                <charset>UTF-8</charset>
                <session_timeout>86400</session_timeout>
                <compliance_wsi>1</compliance_wsi>
                <wsdl_cache_enabled>1</wsdl_cache_enabled>
            </config>
            <json>
                <enabled>1</enabled>
                <cache_enabled>0</cache_enabled>
                <cache_lifetime>3600</cache_lifetime>
                <cache_resources><![CDATA[core_store.list,core_store.info,core_magento.info,directory_country.list,directory_region.list]]></cache_resources>
                <map_enabled>0</map_enabled>
            </json>
        </api>
    </default>
</config>

